{{#if link}}
  <ul class="card-list list--unstyled">
    <li class="card card--link">
      <div class="card__body">
        <a class="card__title" href="{{linkTarget}}">{{titleText}}</a>
        <p class="card__body-text">{{bodyText}}</p>
      </div>
      {{#if footerText}}
      <div class="card__footer">
        <p class="card__footer-text">{{footerText}}</p>
      </div>
      {{/if}}
    </li>
  </ul>
{{else}}

  <div class="card-list list--unstyled">
    <div class="card">
      <div class="card__body">
        <h2 class="card__title">{{titleText}}</h2>
        <p class="card__body-text">{{bodyText}}</p>
      </div>
    </div>
  </div>
{{/if}}


