<div style="background-color: #c5d1dd; border: solid 3px;" class="{{class}}">{{text}}</div>
<div style="background-color: #c5d1dd; border: solid 3px;" class="{{class}}">{{text}}</div>
<div style="background-color: #c5d1dd; border: solid 3px;" class="{{class}}">{{text}}</div>
