<label for="{{name}}">{{label}}{{#if required}} *{{/if}}</label>
<input name="{{name}}"{{#if invalid}} class="is-invalid"{{/if}} type="text" id="{{name}}"{{#if required}} aria-required="true"{{/if}}{{#if invalid}} aria-invalid="true"{{/if}} aria-describedby="{{name}}-error">
{{#if invalid}}<div id="{{name}}-error" class="input__error">This field is required.</div>{{/if}}
