<label for="{{name}}" {{#if hideLabel}}class="hide-label"{{/if}}>{{label}}{{#if required}} *{{/if}}</label>
<input name="{{name}}"{{#if invalid}} class="is-invalid"{{/if}} type="text" id="{{name}}"{{#if invalid}} aria-invalid="true" aria-describedby="{{name}}-error"{{/if}}{{#if required}} required{{/if}}>
{{#if invalid}}<div id="{{name}}-error" class="input__error">This field is required.</div>{{/if}}
