<nav class="toc {{class}}" role="navigation" aria-label="{{ariaLabel}}">
  {{#if title}}
  <a class="toc__title" href="/digital-preservation-policy/">{{title}}</a>
  {{/if}}
  <div class="toc__list">
    {{#each listItems}}
    <a class="toc__list-item" href="#{{this.text}}">{{this.text}}</a>
    {{/each}}
  </div>
</nav>
