<div class="input-group">
  <input type="checkbox" class="checkbox {{class}}" id="{{name}}" name="{{name}}"{{#if required}} required{{/if}}>
  <label for="{{name}}" class="{{class}}">{{text}}{{#if required}} *{{/if}}</label>
</div>
