<fieldset>
  <legend>{{legend}}</legend>
  {{#each items}}
  <input type="checkbox" class="checkbox checkbox--blue" id="{{this.name}}" name="{{this.name}}">
  <label for="{{this.name}}" class="checkbox--blue">{{this.text}}</label>
  {{/each}}
</fieldset>
